.box {
  width: 60vw;
  align-items: center;
  background: radial-gradient(
    circle,
    rgba(31, 31, 31, 1) 0.2%,
    rgba(19, 19, 19, 1) 67%
  );
  height: fit-content;
  border-radius: 15px;
  padding-top: 50px;
  padding-bottom: 30px;
}
.inputs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 50px;
  margin: 30px;
}

.formwrap {
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5vh;
  width: 100%;
}
.name {
  width: 95%;
  background: inherit;
  font-size: 20px;
  font-weight: 500;
  border-radius: 10px;
  color: rgb(0, 170, 255);
  text-decoration: none;
  outline: none;
  border: none;
  border: 1px solid white;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  height: 50px;
  margin-bottom: 20px;
}
.name:hover {
  border-color: blue;
}

.formheading {
  font-size: 50px;
  font-weight: 750;
  text-align: left;
  margin-left: 6%;
  margin-bottom: 40px;
  background: url('../assets/images/text-bg2.webp');
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  animation: moveBg 90s linear infinite;
  -webkit-animation: moveBg 10s linear infinite;
  animation: moveBg 10s;
}
.insidebox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60wv;
}
@keyframes moveBg {
  0% {
    background-position: 40% 30%;
  }
  100% {
    background-position: 100% 50%;
  }
}
.signupbutton {
  outline: none;
  text-decoration: none;
  width: 25%;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 17px;
  border-radius: 10px;
  background-color: inherit;
  border: 1px solid white;
  color: white;
  margin-top: 15px;
}
.link {
  margin-top: 20px;
  color: white;
}
.signupbutton:hover {
  background-color: blue;
  border-color: blue;
  cursor: pointer;
}
.link:hover {
  color: rgb(0, 170, 255);
  cursor: pointer;
}

.registerbutton {
  outline: none;
  text-decoration: none;
  width: fit-content;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 20px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 10px;
  background-color: inherit;
  border: 1px solid white;
  color: white;
  margin-top: 15px;
}

.registerbutton:hover {
  background-color: rgb(0, 170, 255);
  border-color: rgb(0, 170, 255);
  cursor: pointer;
}
