.city1{
    outline: none;
  background-color: black;
  border: none;
  height: 3em;
  margin-top: 10px;
  border: 1px solid black;
  border-radius: 5px;
  color: white;
  font-size: 1.1em;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: 1vh;
  margin-right: 1vh;
}
.input{
    outline: none;
  background-color: black;
  border: none;
  height: 3em;
  margin-top: 10px;
  border: 1px solid black;
  border-radius: 5px;
  color: white;
  font-size: 1.1em;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: 1vh;
  margin-right: 1vh;
  margin-bottom: 5vh;
}
.Teamcode{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.team{
    font-size: 3.5vh;
}
.main{
    width: 90vw;
    background: rgb(23, 23, 23);
    min-height: 80vh;
    margin: auto;
    margin-top: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 5vh;
}
.row{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:center;
}
.all{
    font-size: 3vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 5vh;
    color: blue;
}
.all:hover{
    margin-bottom: 1px solid blue;
}
.header{
    text-align: center;
    font-size: 4vh;
    margin-bottom: 5vh;
}
.submitBtn{
    margin-top: 5vh;
    margin-bottom: 5vh;
    width: auto;
    height: auto;
    background: #000;
    border-radius: 5px;
    padding: 1vh 3vh 1vh 3vh;
    transition: 0.2s ease-in;
}
.submitBtn:hover{
    background: white;
    color: black;
    cursor: pointer;
}
.min{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90vh;
}
.link{
    margin: 6vh;
    width: auto;
    height: auto;
    padding: 1vh 3vh 1vh 3vh;
    background: rgb(8, 126, 223);
    border-radius: 10px;
    transition: 0.2s ease;
}
.link:hover{
    cursor: pointer;
    background: rgb(5, 66, 117);
}